<!DOCTYPE html>
<html>
  <head>
    <title>Temperature Converter</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='style.css') }}"
    />
  </head>
  <body>
    <h1>Temperature Converter</h1>
    <form method="POST">
      <label for="temperature">Enter Temperature:</label>
      <input type="text" id="temperature" name="temperature" required />
      <select name="unit">
        <option value="celsius">Celsius</option>
        <option value="fahrenheit">Fahrenheit</option>
      </select>
      <input type="submit" value="Convert" />
    </form>
    {% if result %}
    <p>{{ result }}&deg; {{ result_unit }}</p>
    {% endif %}
  </body>
</html>
